# =========================
# Frontend (React)
# =========================
doctorbooking-ui/node_modules/
doctorbooking-ui/build/
doctorbooking-ui/dist/
doctorbooking-ui/.cache/

# =========================
# Backend (Spring Boot)
# =========================
doctorbooking_backend/target/
*.class
*.jar
*.war

# =========================
# Logs
# =========================
*.log

# =========================
# Cache
# =========================
.cache/
**/.cache/

# =========================
# IDE files
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS files
# =========================
.DS_Store